{% extends 'mapapp/base.html' %}

{% block title %}Define Boundary{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <style>
        #map { height: 90vh}
        .form-control { /* Your form control styles */ }
        /*a.leaflet-draw-draw-polyline, a.leaflet-draw-draw-rectangle, a.leaflet-draw-draw-circle, a.leaflet-draw-draw-marker, a.leaflet-draw-draw-circlemarker*/
        /*{*/
        /*    display: none;*/
        /*}*/

    </style>
{% endblock %}

{% block content %}
   <section id="content">
        <div class="container-fluid mt-3" >
            <div class="row justify-content-end">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><span style="color: red">{{ message }}</span></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="col-10 border-box" style="
    border: black;
    border-style: double;
    padding: 0 !important;
    border-width: thick;
">
                    <div id="map"></div>
                </div>
                <div class="col-2">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Interpolation</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Download</button>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class=" tab-pane fade show active border-box" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <form method="post" action="{% url 'display_heatmap' %}" id="interpolationResult" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="mb-3">
                                  <label for="operatorName" class="form-label"><h5>Operator Name</h5></label>
<!--                                  <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="operatorName" name="operatorName">-->
<!--                                    <option value="3">Three</option>-->
<!--                                    <option value="EE">EE</option>-->
<!--                                    <option value="vodafone UK">Vodafone UK</option>-->
<!--                                    <option value="O2 - UK">O2 UK</option>-->
<!--                                    </select>-->
                                    <div class="mb-3">
    <input type="radio" id="Three" name="operatorName" value="3">
    <label for="Three">Three</label><br>

    <input type="radio" id="EE" name="operatorName" value="EE">
    <label for="EE">EE</label><br>

    <input type="radio" id="VodafoneUK" name="operatorName" value="vodafone UK">
    <label for="VodafoneUK">Vodafone UK</label><br>

    <input type="radio" id="O2UK" name="operatorName" value="O2 - UK">
    <label for="O2UK">O2 UK</label><br>
    <input type="radio" id="personal" name="operatorName" value="personal" checked>
    <label for="personal">Personal Data</label><br>
</div>
                                </div>
                                <div class="mb-3">
<!--                                  <label for="dataSelection" class="form-label">Data Selection</label>-->
<!--                                  <select id="dataSelection" class="form-select form-select-lg mb-3" name="dataSelection">-->
<!--                                        <option value="CD">Complete Data</option>-->
<!--                                        <option value="BD">Boundary Data</option>-->
<!--                                        &lt;!&ndash; other options &ndash;&gt;-->
<!--                                  </select>-->
<!--                                    <label for="dataSelection" class="form-label"> <h5>Data Selection</h5> </label>-->
<!--<div class="mb-3">-->
<!--    <input type="radio" id="CD" name="dataSelection" value="CD" checked hidden="hidden">-->
<!--    <label for="CD">Complete Data</label><br>-->

<!--    <input type="radio" id="BD" name="dataSelection" value="BD">-->
<!--    <label for="BD">Boundary Data</label><br>-->

<!--    &lt;!&ndash; Insert other options if there are any &ndash;&gt;-->
<!--</div>-->
                                    <input type="hidden" id="CD" name="dataSelection" value="CD">
                                </div>
                                {% if has_access %}
                                <div class="mb-3">
                                    <label for="" class="form-label"><h5> Data Source </h5></label>
                                    <div>
                                        <input type="radio" name="data_source" value="database" checked>
                                        <label>Use existing database data</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="data_source" value="csv">
                                        <label>Upload CSV</label>
                                        <input type="file" name="data_file" accept=".csv">
                                    </div>
                                </div>
                                {% else %}
                                <div class="mb-3">
                                    <label for="" class="form-label"><h5> Data Source </h5></label>
                                    <div>
                                        <input type="radio" name="data_source" value="database" disabled>
                                        <label>Use existing database data</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="data_source" value="csv" checked>
                                        <label>Upload CSV</label>
                                        <input type="file" name="data_file" accept=".csv">
                                    </div>
                                </div>

                                {% endif %}
                                 <div class="mb-3">
<!--                                  <label for="InterpolationTechnique" class="form-label">Interpolation Model</label>-->
<!--                                  <select id="InterpolationTechnique" class="form-select form-select-lg mb-3" name="InterpolationTechnique">-->
<!--                                        <option value="OD">Original Data</option>-->
<!--                                        <option value="RF">Random Forest</option>-->
<!--                                        <option value="RF_2">Random Forest (V2)</option>-->
<!--&lt;!&ndash;                                        <option value="CNN">CNN</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <option value="RNN">RNN</option>&ndash;&gt;-->
<!--                                        <option value="GAN">GAN</option>-->
<!--                                        <option value="RF_PCI">Random Forest(PCI Based)</option>-->
<!--                                        <option value="DT">Decision Tree</option>-->
<!--                                        <option value="DT_PCI">Decision Tree(PCI Based)</option>-->
<!--                                        <option value="IDW">IDW</option>-->
<!--                                        <option value="IDW_PCI">IDW(PCI Based)</option>-->
<!--                                        <option value="OK">Ordinary Kriging</option>-->
<!--                                        <option value="OK_PCI">Ordinary Kriging(PCI Based)</option>-->
<!--                                        &lt;!&ndash; other options &ndash;&gt;-->
<!--                                  </select>-->
<label for="InterpolationTechnique" class="form-label"><h5>Interpolation Model</h5></label>
<div class="mb-3">
    <input type="radio" id="OD" name="InterpolationTechnique" value="OD" checked>
    <label for="OD">Original Data</label><br>

    <input type="radio" id="RF" name="InterpolationTechnique" value="RF">
    <label for="RF">Random Forest</label><br>

<!--    <input type="radio" id="RF_2" name="InterpolationTechnique" value="RF_2">-->
<!--    <label for="RF_2">Random Forest (V2)</label><br>-->

    <!-- Options CNN and RNN are commented out in your dropdown, so they are not included here -->



    <input type="radio" id="RF_PCI" name="InterpolationTechnique" value="RF_PCI">
    <label for="RF_PCI">Random Forest(PCI Based)</label><br>

    <input type="radio" id="DT" name="InterpolationTechnique" value="DT">
    <label for="DT">Decision Tree</label><br>

    <input type="radio" id="DT_PCI" name="InterpolationTechnique" value="DT_PCI">
    <label for="DT_PCI">Decision Tree(PCI Based)</label><br>

    <input type="radio" id="IDW" name="InterpolationTechnique" value="IDW">
    <label for="IDW">IDW</label><br>

    <input type="radio" id="IDW_PCI" name="InterpolationTechnique" value="IDW_PCI">
    <label for="IDW_PCI">IDW(PCI Based)</label><br>

    <input type="radio" id="OK" name="InterpolationTechnique" value="OK">
    <label for="OK">Ordinary Kriging</label><br>

    <input type="radio" id="OK_PCI" name="InterpolationTechnique" value="OK_PCI">
    <label for="OK_PCI">Ordinary Kriging(PCI Based)</label><br>

    <input type="radio" id="GAN" name="InterpolationTechnique" value="GAN">
    <label for="GAN">GAN</label><br>

    <!-- Insert other options if there are any -->
</div>
                                </div>

                            <input id="coordinates" name="coordinates" type="hidden" value=''>
                            <button type="submit" class="btn btn-success">Show Results</button>
<!--                                <a type="button" class="btn btn-success" onclick="document.getElementById('interpolationResult').submit()">View Result</a>-->
                        </form>

                        </div>

                        <div class="tab-pane fade border-box" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            {% if has_access %}
                            <form method="post" action="{% url 'download_csv' %}">
                            {% csrf_token %}
                                <div class="mb-3">
                                  <label for="operatorName2" class="form-label">Operator Name</label>
                                  <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="operatorName2" name="operatorName">
                                    <option value="3">Three</option>
                                    <option value="EE">EE</option>
                                    <option value="vodafone UK">Vodafone UK</option>
                                    <option value="O2 - UK">O2 UK</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                  <label for="dataSelection2" class="form-label">Data Selection</label>
                                  <select id="dataSelection2" class="form-select form-select-lg mb-3" name="dataSelection">
                                        <option value="CD">Complete Data</option>
                                        <option value="BD">Boundary Data</option>
                                        <!-- other options -->
                                  </select>
                                </div>

                            <input id="coordinates2" name="coordinates" type="hidden" value=''>
                            <button type="submit" class="btn btn-success">Download</button>

                        </form>

                        </div>
                         {% else %}

                        <div>You do not have access to this content.</div>
                    {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
{% if has_access %}
    <script>
        var map = L.map('map').setView([53.4289, -0.9381], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18
        }).addTo(map);

        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            edit: { featureGroup: drawnItems }
        });
        map.addControl(drawControl);

        map.on(L.Draw.Event.CREATED, function (event) {
            var layer = event.layer;
            drawnItems.addLayer(layer);
            document.getElementById('coordinates').value = JSON.stringify(layer.getLatLngs());
            document.getElementById('coordinates2').value = JSON.stringify(layer.getLatLngs());
        });
</script>
{% else %}

                      <script>
        var map = L.map('map').setView([53.4289, -0.9381], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18
        }).addTo(map);

        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            edit: { featureGroup: drawnItems }
        });
        map.addControl(drawControl);

        map.on(L.Draw.Event.CREATED, function (event) {
            var layer = event.layer;
            drawnItems.addLayer(layer);
            document.getElementById('coordinates').value = JSON.stringify(layer.getLatLngs());

        });
</script>
{% endif %}
{% endblock %}

