{% extends 'mapapp/base.html' %}

{% block title %}Define Boundary{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <style>
        #map { height: 90vh}
        .form-control { /* Your form control styles */ }
    </style>
{% endblock %}





{% block content %}
<style>
    .responsive-iframe-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust this to change the container's height */
        overflow: hidden;
        position: relative;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: 0;
}
</style>
<main id="main">
    <section id="content">
        <div class="container-fluid mt-3">
            <h1 class="text-center"> Use the Nav Menu to use the application</h1>
            <h1 class="text-center"> OR</h1>
            <h1 class="text-center">

                <a href="/define-boundary" class="btn btn-primary text-center" role="button">Click Here</a>
            </h1>
            <h5 class="text-center" ><a href="https://drive.google.com/file/d/1ZrvLEDfmO-fQlinvun8l3KsPIe1pIzj2/view?usp=sharing">Download Sample Data</a></h5>

<div class="text-center responsive-iframe-container" style="margin-left: 30%">
                <iframe width="150" height="60" src="https://www.youtube.com/embed/qYrsGANYCoA" allowfullscreen></iframe>
            </div>
        </div>


    </section>
</main>



{% endblock %}


{% block extra_js %}
    <script>
        var map = L.map('map').setView([53.4289, -0.9381], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18
        }).addTo(map);

        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            edit: { featureGroup: drawnItems }
        });
        map.addControl(drawControl);

        map.on(L.Draw.Event.CREATED, function (event) {
            var layer = event.layer;
            drawnItems.addLayer(layer);
            document.getElementById('coordinates').value = JSON.stringify(layer.getLatLngs());
            document.getElementById('coordinates2').value = JSON.stringify(layer.getLatLngs());
        });
</script>
{% endblock %}

